* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;  
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: block;
    
}

li {
    
    margin-top: 20px;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


header img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.25rem;

}
header h1{
    font-weight: 200;
    font-size: 18pt;
    margin: 0;
    
}
#repo-form{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

input{
    margin-right: 1.5rem;
}
#loading {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin: 0%;
}

.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    clear: both;
    
}

.card img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.562);
}

.description p{
    font-size: 1rem;
    margin-top: 0.2rem;
    
    text-align: justify;
    line-height: 1.5;
    max-height: fit-content;
}

.card strong {
    width: fit-content;
    font-size: 20;
    margin-top: 0;
}

.btnClear{
    width: 100%;
}
.btnClear:hover{
    background: rgba(241, 9, 9, 0.644);
}
.linkAcess{
    clear: both;
    text-decoration: none;
    margin-top: 0.5rem;
}

.linkAcess:hover {
    background: rgba(3, 126, 3, 0.473);
}

footer{
    text-align: center;
    padding: 4rem 0 2rem;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
}
footer h3{
    font-weight: 100;
    font-size: small;
    margin: 0;
    
}